In [1]:
import pandas as pd
import numpy as np

In [3]:
valores = [[1,2,3], [4,5,6],[7,8,9],[np.nan, np.nan, np.nan]]
valores

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [nan, nan, nan]]

In [4]:
cols = list('abc')
cols

['a', 'b', 'c']

In [5]:
dataframe = pd.DataFrame(valores, columns = cols)
dataframe

     a    b    c
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0
3  NaN  NaN  NaN

In [6]:
dataframe.agg(['sum','min'])

        a     b     c
sum  12.0  15.0  18.0
min   1.0   2.0   3.0

In [8]:
dataframe.agg('sum', axis=1) # suma por filas

0     6.0
1    15.0
2    24.0
3     0.0
dtype: float64