In [4]:
"""import sqlite3 
conexion = sqlite3.connect("basededatos1.db")
conexion.close()"""

In [13]:
# crear una tabla
"""import sqlite3 
conexion = sqlite3.connect("basededatos1.db")
cursor = conexion.cursor()
cursor.execute("CREATE TABLE prueba (nombre TEXT, apellido TEXT, edad INTEGER)")
conexion.commit()
conexion.close()"""

In [17]:
# insertar una fila en la bd
"""import sqlite3 
conexion = sqlite3.connect("basededatos1.db")
cursor = conexion.cursor()
cursor.execute("INSERT INTO prueba VALUES ('ANTONIO','BERNALES',23)")
conexion.commit()
conexion.close()"""

In [19]:
"""# insertar varias finlas
import sqlite3 
conexion = sqlite3.connect("basededatos1.db")
cursor = conexion.cursor()
lista_personas = [('ana', 'jorrat', 21), ('enzo', 'politi' ,23), ('Camila', 'Martinez', 89)]
cursor.executemany("INSERT INTO prueba VALUES (?,?,?)", lista_personas)
conexion.commit()
conexion.close()"""

In [2]:
"""# consultar datos
import sqlite3 
conexion = sqlite3.connect("basededatos1.db")
cursor = conexion.cursor()
cursor.execute("SELECT * FROM prueba")
personas = cursor.fetchall()
for persona in personas:
    print(persona)
conexion.close()"""

('ANTONIO', 'BERNALES', 23)
('ANTONIO', 'BERNALES', 23)
('ANTONIO', 'BERNALES', 23)
('ana', 'jorrat', 21)
('enzo', 'politi', 23)
('Camila', 'Martinez', 89)

In [7]:
"""# consultar datos
import sqlite3 
conexion = sqlite3.connect("basededatos1.db")
cursor = conexion.cursor()
cursor.execute("SELECT * FROM prueba WHERE edad < 70")
personas = cursor.fetchall()
for persona in personas:
    print(persona)
conexion.close()"""

('ANTONIO', 'BERNALES', 23)
('ANTONIO', 'BERNALES', 23)
('ANTONIO', 'BERNALES', 23)
('ana', 'jorrat', 21)
('enzo', 'politi', 23)

In [11]:
"""# ordenar datos
import sqlite3 
conexion = sqlite3.connect("basededatos1.db")
cursor = conexion.cursor()
cursor.execute("SELECT * FROM prueba ORDER BY edad") # imprime de menor a mayor
personas = cursor.fetchall()
for persona in personas:
    print(persona)
conexion.close()"""

('ana', 'jorrat', 21)
('ANTONIO', 'BERNALES', 23)
('ANTONIO', 'BERNALES', 23)
('ANTONIO', 'BERNALES', 23)
('enzo', 'politi', 23)
('Camila', 'Martinez', 89)

In [14]:
"""# borrar datos
import sqlite3 
conexion = sqlite3.connect("basededatos1.db")
cursor = conexion.cursor()
cursor.execute("DELETE FROM prueba WHERE edad = 23") # imprime de menor a mayor
conexion.commit()
conexion.close()"""

In [17]:
"""# actualizar datos
import sqlite3 
conexion = sqlite3.connect("basededatos1.db")
cursor = conexion.cursor()
cursor.execute("UPDATE prueba SET nombre = 'maria paster' WHERE edad = 89 ") # imprime de menor a mayor
conexion.commit()
conexion.close()"""

In [18]:
# ejercicio
"""
crear basededatos.db
id: identificador del producto tipo numerico
nombre: nombre del producto de tipo texto
precio: precio del producto

insertar 3 productos en la tabla productos
1, "Impresora", 300
2, "Mouse", 20
3, "Ordenador", 1000
consultar los productos de la tabla productos
cerrar bd 
"""

'\ncrear basededatos.db\nid: identificador del producto tipo numerico\nnombre: nombre del producto de tipo texto\nprecio: precio del producto\n\ninsertar 3 productos en la tabla productos\n1, "Impresora", 300\n2, "Mouse", 20\n3, "Ordenador", 1000\nconsultar los productos de la tabla productos\ncerrar bd \n'

In [26]:
import sqlite3
conexion = sqlite3.connect("basededatos.bd")
cursor = conexion.cursor()
"""cursor.execute("CREATE TABLE productos (id INTEGER, nombre TEXT, precio INTEGER)")
conexion.commit()"""
lista_productos = [(1, 'Impresora', 300), (2, 'mouse', 20),(3, 'ordenador', 1000)]
cursor.executemany("INSERT INTO productos VALUES (?,?,?)", lista_productos)
conexion.commit()
cursor.execute("SELECT * from productos")
productos = cursor.fetchall()
for producto in productos:
    print(producto)
conexion.close()

(1, 'Impresora', 300)
(2, 'mouse', 20)
(3, 'ordenador', 1000)
(1, 'Impresora', 300)
(2, 'mouse', 20)
(3, 'ordenador', 1000)