In [1]:
import pandas as pd
import numpy as np

In [2]:
valores = np.arange(25).reshape(5,5)
valores

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [3]:
dataframe = pd.DataFrame(valores)
dataframe

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [4]:
combinacion_aleatoria = np.random.permutation(5)
combinacion_aleatoria # return array([2, 3, 4, 0, 1])

array([2, 3, 4, 0, 1])

In [5]:
dataframe.take(combinacion_aleatoria) # ordena las filas segun la combinacion aleatoria

    0   1   2   3   4
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
0   0   1   2   3   4
1   5   6   7   8   9