In [ ]:
# ejercicio

Leer el fichero adjunto "poblacion.xlsx" y cargar los datos en un dataframe
con esos datos, visualizar cual es la cidudad msa poblada en america

Leer el fichero adjunto "poblacion.csv" y cargas los datos en un dataframe 
con estos datos, visualizar cual es la ciudad mas poblada de Africa

In [1]:
import pandas as pd

In [5]:
excel  = pd.ExcelFile('/Users/Camila Bernales/Documents/datascience/udemyCourse/archivos/poblacion.xlsx')

In [7]:
dataframe = excel.parse('Hoja 1')

In [8]:
dataframe

,Continente,Densidad,Superficie,Población,País más poblado,Ciudad más poblada
0,Asia,86.88,43810000,4677291000,China (1.392.240.000),Tokio (35.682.000)
1,África,32.70,30370000,1110020000,Nigeria (191.205.000),El Cairo (16.794.000)
2,Europa,70.00,10180000,801000000,Rusia (112.000.000),Moscú (18.940.000)
3,América,23.50,42330000,1094215000,Estados Unidos (330.028.000),Ciudad de México (22.577.000)
4,Oceanía,4.25,9008500,40201000,Australia (27.240.000),Sídney (6.550.000)

In [9]:
dataframe['Ciudad más poblada'][3]

'Ciudad de México (22.577.000)'

In [10]:
fichero_cvs = pd.read_csv('/Users/Camila Bernales/Documents/datascience/udemyCourse/archivos/poblacion.csv')

In [11]:
fichero_cvs

,Continente,Densidad,Superficie,Población,País más poblado,Ciudad más poblada
0,Asia,"86,88",43.810.000,4.677.291.000,China (1.392.240.000),Tokio (35.682.000)
1,África,"32,7",30.370.000,1.110.020.000,Nigeria (191.205.000),El Cairo (16.794.000)
2,Europa,70,10.180.000,801.000.000,Rusia (112.000.000),Moscú (18.940.000)
3,América,"23,5",42.330.000,1.094.215.000,Estados Unidos (330.028.000),Ciudad de México (22.577.000)
4,Oceanía,"4,25",9.008.500,40.201.000,Australia (27.240.000),Sídney (6.550.000)

In [12]:
fichero_cvs['Ciudad más poblada'][1]

'El Cairo (16.794.000)'