In [1]:
import pandas as pd
import numpy as np

In [2]:
array = np.array([[1,9,3],[5,6,7]])
array

array([[1, 9, 3],
       [5, 6, 7]])

In [8]:
dataframe = pd.DataFrame(array, index=['a','b'], columns=list('123'))
dataframe.sum() # suma las columnas => 1+5, 6+9 y 3+7
dataframe

   1  2  3
a  1  9  3
b  5  6  7

In [9]:
dataframe.sum(axis=1)  # suma toda la fila

a    13
b    18
dtype: int64

In [10]:
dataframe.min() # columna | valor

1    1
2    6
3    3
dtype: int32

In [11]:
dataframe.idxmin() # columna | indice

1    a
2    b
3    a
dtype: object

In [12]:
dataframe.describe()

              1        2         3
count  2.000000  2.00000  2.000000
mean   3.000000  7.50000  5.000000
std    2.828427  2.12132  2.828427
min    1.000000  6.00000  3.000000
25%    2.000000  6.75000  4.000000
50%    3.000000  7.50000  5.000000
75%    4.000000  8.25000  6.000000
max    5.000000  9.00000  7.000000

In [13]:
lista_valores = ['1', '2', np.nan, '4']
lista_valores

['1', '2', nan, '4']

In [14]:
serie = pd.Series(lista_valores, index=list('abcd'))
serie

a      1
b      2
c    NaN
d      4
dtype: object

In [15]:
serie.dropna()

a    1
b    2
d    4
dtype: object

In [17]:
serie = serie.dropna()
serie

a    1
b    2
d    4
dtype: object

In [23]:
lista_valores = [[1,2,3],[4, np.nan,5],[6,7,np.nan]]
lista_valores
lista_indices = list('123')
lista_indices
lista_columnas = list('abd')
lista_columnas
dataframe = pd.DataFrame(lista_valores, index=lista_indices, columns=lista_columnas)
dataframe.dropna()

   a    b    d
1  1  2.0  3.0

In [24]:
dataframe.fillna(0)

   a    b    d
1  1  2.0  3.0
2  4  0.0  5.0
3  6  7.0  0.0

In [27]:
# indices jerarquizados
lista_valores = np.random.rand(6)
lista_valores
lista_indices = [[1,1,1,2,2,2], ['a','b','c','a','b','c']]
series = pd.Series(lista_valores, index = lista_indices)
series

1  a    0.922222
   b    0.596890
   c    0.936573
2  a    0.287651
   b    0.740652
   c    0.273289
dtype: float64

In [29]:
dataframe = series.unstack()
dataframe

          a         b         c
1  0.922222  0.596890  0.936573
2  0.287651  0.740652  0.273289

In [30]:
serie = dataframe.stack() # para crear una serie con doble indice

In [31]:
serie # indice | columna  | filas

1  a    0.922222
   b    0.596890
   c    0.936573
2  a    0.287651
   b    0.740652
   c    0.273289
dtype: float64

In [ ]:
# ejercicio

"""
Tenemos tres clases : "clase1" "clase2" "clase3"

Vamos a generar un número aleatorio de alumnos por clase

Para obtener un numero aleatorio utilizaremos

np.random.randint(minimo,maximo,numero)

Crear una serie de clases y alumnos

Utilizar el indice de la serie creada para saber el numero de alumnos de la clase2

"""

In [33]:
minimo = 10
maximo = 40
numero = 3
alumnos = np.random.randint(minimo,maximo,numero)
alumnos

array([18, 16, 10])

In [34]:
clases = ["clase1", "clase2", "clase3"]
clases

['clase1', 'clase2', 'clase3']

In [37]:
serie = pd.Series(alumnos, index = clases)
serie['clase2']

16