In [1]:
import pandas as pd
import numpy as np

In [3]:
valores = np.random.rand(10,3) # 10 filas por tres columnas
valores

array([[0.2838038 , 0.56612371, 0.86637481],
       [0.6617409 , 0.18362274, 0.62296598],
       [0.31391104, 0.85297839, 0.40564361],
       [0.44496122, 0.19394916, 0.37750739],
       [0.87050068, 0.21558146, 0.12813685],
       [0.73837077, 0.74671304, 0.28198029],
       [0.67405252, 0.97093717, 0.0548281 ],
       [0.98985741, 0.24197175, 0.93198223],
       [0.96200871, 0.83859538, 0.8800483 ],
       [0.41360218, 0.07694848, 0.66424911]])

In [4]:
dataframe = pd.DataFrame(valores)
dataframe

          0         1         2
0  0.283804  0.566124  0.866375
1  0.661741  0.183623  0.622966
2  0.313911  0.852978  0.405644
3  0.444961  0.193949  0.377507
4  0.870501  0.215581  0.128137
5  0.738371  0.746713  0.281980
6  0.674053  0.970937  0.054828
7  0.989857  0.241972  0.931982
8  0.962009  0.838595  0.880048
9  0.413602  0.076948  0.664249

In [6]:
columna = dataframe[0]
columna

0    0.283804
1    0.661741
2    0.313911
3    0.444961
4    0.870501
5    0.738371
6    0.674053
7    0.989857
8    0.962009
9    0.413602
Name: 0, dtype: float64

In [7]:
columna[columna > 0.40]

1    0.661741
3    0.444961
4    0.870501
5    0.738371
6    0.674053
7    0.989857
8    0.962009
9    0.413602
Name: 0, dtype: float64

In [8]:
dataframe[dataframe > 0.40]

          0         1         2
0       NaN  0.566124  0.866375
1  0.661741       NaN  0.622966
2       NaN  0.852978  0.405644
3  0.444961       NaN       NaN
4  0.870501       NaN       NaN
5  0.738371  0.746713       NaN
6  0.674053  0.970937       NaN
7  0.989857       NaN  0.931982
8  0.962009  0.838595  0.880048
9  0.413602       NaN  0.664249