In [5]:
# ficheros formato excel

import pandas as pd

In [12]:
fichero_excel = pd.ExcelFile('/Users/Camila Bernales/Documents/datascience/udemyCourse/archivos/ficheroexcel.xlsx')

In [14]:
dataframe = fichero_excel.parse('Hoja1')

In [15]:
dataframe

    Año  Campeón Resultado      Subcampeón
0  1930  Uruguay  04:02:00       Argentina
1  1934   Italia  02:01:00  Checoslovaquia
2  1938   Italia  04:02:00         Hungria