In [4]:
# renombras indices

import pandas as pd
import numpy as np

In [7]:
valores = np.arange(9).reshape(3,3)
indices = list('abc')

dataframe = pd.DataFrame(valores, index = indices)
dataframe

   0  1  2
a  0  1  2
b  3  4  5
c  6  7  8

In [11]:
new_indices = dataframe.index.map(str.upper)
dataframe.index = new_indices
dataframe

   0  1  2
A  0  1  2
B  3  4  5
C  6  7  8

In [12]:
dataframe = dataframe.rename(index = str.lower)
dataframe

   0  1  2
a  0  1  2
b  3  4  5
c  6  7  8

In [19]:
new_indices = {'a':'f', 'b':'g', 'c':'h'}
dataframe = dataframe.rename(index = new_indices)
dataframe

   0  1  2
f  0  1  2
g  3  4  5
h  6  7  8

In [20]:
new_indices = {'f':'j'}
dataframe.rename(index = new_indices, inplace = True) # cambia dentro de la variable
dataframe

   0  1  2
j  0  1  2
g  3  4  5
h  6  7  8