In [1]:
# union dataframes

import pandas as pd

In [2]:
dataframe1 = pd.DataFrame({'c1':['1','2','3'], 'clave':['a','b','c']})
dataframe1

  c1 clave
0  1     a
1  2     b
2  3     c

In [3]:
dataframe2 = pd.DataFrame({'c2':['4','5','6'], 'clave':['c','b','e']})
dataframe2

  c2 clave
0  4     c
1  5     b
2  6     e

In [8]:
dataframe3 = pd.DataFrame.merge(dataframe1, dataframe2, on='clave') # on clave => por que valor quiero que se haga el merge

In [5]:
dataframe3

  c1 clave c2
0  2     b  5
1  3     c  4

In [11]:
dataframe3 = pd.DataFrame.merge(dataframe1, dataframe2)
dataframe3

  c1 clave c2
0  2     b  5
1  3     c  4

In [12]:
dataframe4 = pd.DataFrame.merge(dataframe1, dataframe2, on="clave", how="left") # que prevalezca el dataframe que esta  ala izquierda
dataframe4

  c1 clave   c2
0  1     a  NaN
1  2     b    5
2  3     c    4

In [13]:
dataframe4 = pd.DataFrame.merge(dataframe1, dataframe2, on="clave", how="right") # que prevalezca el dataframe que esta  ala derecha
dataframe4

    c1 clave c2
0    2     b  5
1    3     c  4
2  NaN     e  6

In [15]:
dataframe4 = pd.DataFrame.merge(dataframe1, dataframe2, on="clave", how="outer") # todas las filas del dataframe, pone valores puros donde no haya clave
dataframe4

    c1 clave   c2
0    1     a  NaN
1    2     b    5
2    3     c    4
3  NaN     e    6